body {
    background-color:  #fff;
    font-family: 'Raleway';
    margin: 0px
}
/* Le body à une marge par défaut donc je l'ai initialisé à 0px */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    background-color:  #fff;
    height: 107px;
    width: 100%;
}
/* Utilisation de FLEX pour aligner le LOGO et la NAVIGATION dans le Header */
#logo{
   height: 19px;
   width: 61px;
   margin-left: 55px;
   margin-right: 55px;
   margin-top: 44px;
   
}
nav {
   /* Utilisation de FLEX pour aligner les liens du menu de navigation */ 
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 107px;
   width: 381px;
   background-color:  #fff;
   font-size: 16px;
}
#navigation{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-end;
   align-content: flex-end;
   width: 381px;
   margin: auto;
   list-style: none;
}

a, li {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 100%;
   outline: none;
   text-decoration: none;
   height: 107px;
}
a:link, a:visited {
   color: black;
}
a:active, a:focus, a:hover {
   color: #0065FC;
   border-top: 2px solid ;
}
/* Pour simplifier le code j'ai essayé de regroupé les règles CSS pour les balises identiques (a et li) et les action dynamiques de (a). 
La ligne bleu active est un border-top de la balise (a) pour la vue Desktop et */
}
img {
   margin: auto;
}
#div_recherche_titre {
   display: flex;
   flex-direction: column;
   margin-left: 55px;
   margin-right: 55px;
}
#div_recherche {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-left: 55px;
   
   
}
#div_filtres {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   align-content: stretch;
   margin-left: 55px;
   margin-right: 55px;
   margin-top: 32px;
   margin-bottom: 38px;
 
}
#div_infos {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
   
   margin-left: 55px;
   margin-right: 55px;
}
h1{
   font-size: 22px;
   margin: 0px;
   padding: 0px;
}
p {
   font-size: 1em;
}
#label {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   width: 50px;
   height: 47px;
   background-color: #F2F2F2;
   border: 1px solid #F2F2F2;
   border-radius: 15px 0px 0px 15px;
}
input[type="search"] {
   width: 332px;
   font-weight: 700;
   text-align: center;
   border: 1px solid #F2F2F2;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: black
   
   
}
::placeholder {
   color: black;
}

#button_recherche {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: #0065FC;
   border: 1px solid #0065FC;
   border-radius: 0px 15px 15px 0px;
   color: white;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   padding-right: 16px;
   
}
#button_filters{
   border: 2px solid #D9D9D9;
   border-radius: 25px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   background-color: white;
   margin-right: 21px;
   margin-left: 21px;
   padding-right: 14px;
   
}
#button_filters:active {
   border: 2px solid #D9D9D9;
   border-radius: 25px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   background-color: #DEEBFF;
   margin-right: 21px;
   margin-left: 21px;
   padding-right: 14px;
   
}
i {
   color: #0065FC;
   font-size: 1.3em;
   padding: 10px;
   
}
#i-info {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   color: #0065FC;
   font-size: 1em;
   border: 1px solid #D9D9D9;
   border-radius: 50%;
   width: 24px;
   height: 24px;
   margin-right: 11px;
   padding: 0px;

   
   
}
#i_search {
   color: white;
}
#i_localisation {
   color: black;
}
form {
   display: flex;
   flex-direction: row;
   height: 49px;
   margin-left: 55px;
   margin-right: 55px;
   
}