body {
    background-color:  #fff;
    font-family: 'Raleway';
}
/* commentaires */
h1 {
    color: #000;
    font-size: medium;
}
/* commentaires */
p {
    color: #000;
    height: 500px;
    width: 500px;
    margin: auto;
}
/* commentaires */
header {
    background-color:  #fff;
}
/* commentaires */
img {
    background-color:  #ddd;
}
nav {
   /* commentaires */ 
}
/* commentaires */
main {
    background-color:  #fff;
}
/* commentaires */
section {
    background-color:  #ddd;
}
article {
    background-color:  #F2F2F2;

}
/* commentaires */
footer {
    background-color:  #F2F2F2;
}